/* FONTS IMPORT */
@font-face {
    font-family: title_font;
    src: url("fonts/halflife2.ttf");
}
/* OVERALL SITE, TITLE AND MENU */
html, body {
    margin: 0; 
    padding: 0;
    max-height: 100%;
    max-width: 100%;
    font-family: calibri;}
body {
    background: url("images/background1.png");}

.main_title {
    color: rgba(255,255,255,1); 
    font-family: title_font;
    font-size: 3.5em;
    position: absolute;
    top: 33%; left: 6%;
    z-index: 10;}

.main_menu {
    color: white; 
    list-style-type: none;
    font-variant: small-caps;
    text-transform: lowercase;
    font-size:1.1em;
    font-weight: 500;
    letter-spacing: 1px;
    position: absolute;
    top: 45%; left: 6%;
    z-index: 10;
    text-align: left;
    cursor: default;}

.main_menu > li {margin: 0.5em -40px;}
.main_menu > li > a {}
.main_menu > li > a:hover {color: rgba(230,230,230,1);}

/* DIALOG WINDOWS */
.dialog_window {
    position: absolute;
    z-index: 15;
    margin-left: 40%;
    margin-top: 20%;
    width: auto;
    color: white;
    font-variant: small-caps;
    text-transform: lowercase;
    border-radius: 7px;
    background: rgba(190,190,190,0.80);
}

.dialog_title {
    color: white; 
    float:left;
    font-size: 0.95em;
    font-weight: normal;
    padding: 0px;
    margin-top: 3px; margin-left: 12px;
    cursor: default;}
.dialog_title:hover {color: rgba(230,230,230,1);}
.dialog_close {
    width: 10px; height: 10px;
    margin-top: 7px; margin-right: 12px;
}
.dialog_action {
    text-align: right;
}
.dialog_dynamic_content {
    float: left;
    margin: -10px 25px 10px 25px;}

/* SPECIFED CONTENT */
.window_newGame {text-align: right;}
.window_newGame hr {
    position: relative;
    color: black; 
    background: black;
    height: 1px;
    opacity: 0.3;
width: 94%;}
.window_newGame table {
    border-spacing: 15px 3px;
    text-align: left;
    border-collapse: separate;}
.window_newGame  p {
    padding: 0; 
    margin: 0;
    line-height: 1em;
    font-weight: normal;
    font-size: 1.1em;}
.window_newGame button {
    margin-right: 15px;
    color: white;
    font-family: arial;
    border: 1px outset;
    border-color: #ccc #bbb #bbb #ccc;
    border-radius: 2px;
    padding: 3px 5px;
    background: rgba(0,0,0,0.05);
}
.window_newGame > table > tbody > tr:nth-child(2) > td > img {
    border: 10px solid black;}

.window_loadGame {}

.window_achievements {}

.window_options {}

.window_quit {}